[Unit]
Description     = Cardano node testnet service
Wants           = network-online.target
After           = network-online.target

[Service]
User            = bakon
Type            = simple
WorkingDirectory= /home/bakon/.cardano/testnet/
ExecStart       = cardano-node run \
			--database-path /home/bakon/.cardano/testnet/db/ \
			--socket-path /home/bakon/.cardano/testnet/socket/node.socket \
			--config /home/bakon/.cardano/testnet/files/testnet-config.json \
      			--topology /home/bakon/.cardano/testnet/files/testnet-topology.json \
			--port 3001
KillSignal=SIGINT
RestartKillSignal=SIGINT
TimeoutStopSec=10
LimitNOFILE=32768
Restart=always
RestartSec=10
Environment=LD_LIBRARY_PATH=/usr/local/lib
Environment=PKG_CONFIG_PATH=/usr/local/lib/pkgconfig

[Install]
WantedBy= multi-user.target
