[Unit]
Description     = Ogmios Mainnet service
Wants           = network-online.target
After           = network-online.target

[Service]
User            = bakon
Type            = simple
ExecStart= ogmios \
      	--node-socket /home/bakon/.cardano/mainnet/socket/node.socket \
      	--node-config /home/bakon/.cardano/mainnet/files/mainnet-config.json \
	--host 0.0.0.0 \
        --port 4200
KillSignal=SIGINT
RestartKillSignal=SIGINT
TimeoutStopSec=10
LimitNOFILE=32768
Restart=always
RestartSec=10
Environment=LD_LIBRARY_PATH=/usr/local/lib
Environment=PKG_CONFIG_PATH=/usr/local/lib/pkgconfig

[Install]
WantedBy= multi-user.target
